

/* Fade In Element */
.fade-in-element {
    @apply opacity-100;
    display: flex;
    animation: fadeIn 500ms ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-out-element {
    @apply opacity-100;
    animation: fadeOut 1s ease-in;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

