@import "../fonts/gill-sans.css";
@import "../fonts/helvitica.css";
/*HEADER*/


.toolbox{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}


.container::-webkit-scrollbar {
    display: none !important;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

@media print {
    .two-column {
        break-inside: avoid;
    }
}


/* editorPage */

#editorPage {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;


    .header-container {
        padding: 0.4in 0 0 0;
        text-align: center;
        width: max-content;
        justify-self: center;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .header-font {
        font-size: 35px;
        font-weight: bold;

    }

    .sub-header {
        margin: 0px 0 0.1in 0;
    }

    .subheader-font {
        font-family: Arial, sans-serif;
        font-size: 12px;
        line-height: 16px;
    }

    .header-line {
        border: 1px solid black;
        width: 170%;
        justify-self: center;
    }


    .prose {
        font-size: 14pt;
        line-height: 1.3;
    }

    .prose p {
        font-size: 14px;
        margin: 4px 0;
    }

    ul, ol {
        margin-left: 18px;
        margin-bottom: 8px;
    }

    li {
        margin-bottom: 4px;
    }

    .report-header {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .section-title {
        font-weight: bold;
        margin: 8px 0 4px;
        font-size: 14px;
    }

    .medical-table {
        font-size: 12px;
    }

    .medical-table div {
        outline: 1px solid #000;
        outline-offset: -1px;
        padding: 6px 8px;
    }


    .label {
        font-weight: normal;
        margin-bottom: 4px;
    }

    .value {
        font-weight: bold;
    }
}
