@import "../fonts/gill-sans.css";
@import "../fonts/helvitica.css";
/*HEADER*/

.header-container{
    padding: 0.4in 0 0 0;
    text-align: center;
    opacity: 50%;
    width: max-content;
    justify-self: center;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-font{
    font-family: "Gill Sans", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    align-self: baseline;
    line-height: 64px;
}

.sub-header{
    margin: -9px 0 0.3in 0;
}

.subheader-font{
    font-family: "Helvetica";
    font-size: 12px;
    line-height: 16px;
}

.header-line{
    border: 1px solid black;
    width: 117%;
    justify-self: center;
}

.toolbox{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}







.container::-webkit-scrollbar {
    display: none !important;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

@media print {
    .two-column {
        break-inside: avoid;
    }
}


.ruler {
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    pointer-events: none;
}

.ruler-marker {
    width: 100%;
    height: 1122px; /* A4 */
    border-left: 3px solid #0ea5e9;
    opacity: 0.6;
}

.ruler-marker::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #0ea5e9;
    border-radius: 999px;
    position: absolute;
    right: -2px;
}


.prose {
    font-size: 12pt;
    line-height: 1.4;
}

.prose h1 { font-size: 20pt; margin-bottom: 12px; }
.prose h2 { font-size: 16pt; margin-top: 18px; }
.prose h3 { font-size: 14pt; }

.prose p {
    margin: 4px 0;
}

