@font-face {
    font-family: 'Helvetica';
    src: url('../../fontsx/helvetica/FreeSans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../fontsx/helvetica/FreeSansBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../fontsx/helvetica/FreeSansOblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../fontsx/helvetica/FreeSansBoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
